<p-sidebar [visible]="isFiltroOpen" [dismissible]="false" position="right">
  <form [formGroup]="form" class="flex flex-col h-full gap-2">
    <div class="flex flex-row w-full justify-center items-center mb-12">
      <h2 class="text-xl font-medium">Filtros</h2>
    </div>

    <div class="flex flex-col gap-2 w-full">
      <div class="flex flex-row">
        <span class="font-medium">Exercício Anual</span>
      </div>
      <div class="flex flex-row w-full">
        <p-dropdown formControlName="exercicio" optionLabel="asdasd" [options]="exerciciosAnuais" optionLabel="label" optionValue="value"
          placeholder="Escolha Única" [style]="{ width: '100%' }" class="form-control">
        </p-dropdown>
      </div>
      <div class="flex flex-row">
        <span class="font-medium">Tipo</span>
      </div>
      <div class="flex flex-row w-full">
        <p-dropdown formControlName="tipo" optionLabel="asdasd" [options]="tipos" optionLabel="label" optionValue="value"
          placeholder="Escolha Única" [style]="{ width: '100%' }" class="form-control">
        </p-dropdown>
      </div>
    </div>

    <div class="flex flex-1 flex-grow"></div>

    <div class="flex flex-col w-full gap-4 mb-8">
      <div class="flex flex-row w-full">
        <button class="button-basic w-full">
          Limpar
        </button>
      </div>
      <div class="flex flex-row w-full">
        <button class="button-advance w-full" (click)="handleApplyFilter()">
          Filtrar
        </button>
      </div>
    </div>
  </form>
</p-sidebar>