
<div class="flex flex-col container mx-auto">
  <div class="flex flex-row justify-center pt-12">
    <h1 class="uppercase text-xl font-medium">Parâmetros da Despesa</h1>
  </div>
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4 justify-center pt-8">
    @for (card of despesas ; track card) {
      <app-card-parameter [titulo]="card.tipoDespesa" [(valor)]="card.indexador" />
    }
  </div>

  <div class="flex flex-row justify-end gap-4">
    <button class="button-advance" (click)="onSave()">Salvar</button>
    <button class="button-basic" (click)="onCancel()">Cancelar</button>
  </div>
</div>
