<div class="flex flex-col container mx-auto">
    <div class="flex flex-row justify-center pt-12">
        <h1 class="uppercase text-xl font-medium">Parâmetros da Receita</h1>
    </div>

    <div *ngIf="isLoading" class="w-full mx-auto justify-center flex items-center py-24">
        <div class="animate-spin inline-block size-12 border-[3px] border-current border-t-transparent text-blue-600 rounded-full dark:text-blue-500"
            role="status" aria-label="loading">
        </div>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4 justify-center pt-8">
        @for (card of parametrosReceita; track card) {
        <app-card-parameter [titulo]="card.categoriaReceitaNome" [(valor)]="card.indexador" />
        }
    </div>

    <div class="flex flex-row justify-end gap-4">
        <p-button [loading]="isSaving" label="Salvar" (click)="onSave()"></p-button>
        <button class="button-basic" (click)="onCancel()">Cancelar</button>
    </div>
</div>

<div class="py-24"></div>