<div class="fixed-top" style="display: flex; flex-direction: row; height: 50px">
  <button class="home-button-container" routerLink="/lista-consorcios">
    <i
      class="fa-regular fa-folder-open"
      style="color: #ffffff; width: 14px; height: 13px"
    ></i>

    SIAFIC - GESTÃO DE CONSÓRCIOS
  </button>
  <nav class="header-container">
    <div style="display: flex; gap: 1.5rem; margin-left: 1rem">
      <a routerLink="/lista-consorcios" class="routerlinks">
        Listar Consórcios Públicos
      </a>
    </div>

    <div></div>
  </nav>
</div>
