<footer class="footer_">
  <div class="footer-container_ flex-col md:flex-row">
    <div class="flex flex-row gap-4">
      <img src="/assets/img/logo-setdig.png" alt="left" class="w-[4.5rem]" />
      <img
        src="/assets/img/logo-ms-novo.png"
        alt="left"
        class="w-24 max-h-[58px]"
      />
    </div>
    <div style="text-align: center !important">
      <img
        src="/assets/img/profisco.png"
        alt="right"
        class="w-24 min-w-[400px]"
      />
    </div>
  </div>
</footer>
