footer {
  left: 0 !important;
  bottom: 0 !important;

  width: 100% !important;
}

.footer-container_ {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  grid-template-columns: 1fr 1fr;
}

.footer_ {
  bottom: 0 !important;

  @apply bg-gradient-to-b from-transparent to-brand;
  padding-top: 2rem;
  padding-right: 2rem;
  padding-left: 2rem;
  padding-bottom: 1rem;

  color: rgb(209 213 219 / var(--tw-text-opacity));
}

.footer_,
.footer-container_ {
  width: 100%;
}
