
<div class="flex w-full mx-auto justify-center py-8 font-semibold">
    EXECUÇÃO ORÇAMENTÁRIA - RECEITA
</div>

<div class="mx-4">
    <div class="flex flex-row items-center gap-4 text-brand border-b-4 drop-shadow-xl border-brand">
        <div class="flex flex-col cursor-pointer" (click)="subMonth()">
            <i class="pi pi-angle-double-left"></i>
        </div>
        <div class="flex flex-row font-bold gap-2 text-xl">
          <span class="capitalize">
            {{ monthName }}
          </span>
          <span>
            de {{ ano}}
          </span>
        </div>
        <div class="flex flex-col cursor-pointer" (click)="addMonth()">
            <i class="pi pi-angle-double-right"></i>
        </div>
    </div>
    
    <div class="grid row-auto grid-cols-7 gap-2 my-4">
        @for (dia of buildDaysOfWeek(); track $index) {
            <span class="text-center font-semibold uppercase text-xl">{{ dia }}</span>
        }
    </div>
    
    
    <div class="grid row-auto grid-cols-7 gap-3 mb-8" >
        @for (dia of buildDaysOfMonth(); track $index) {
            <app-orcamento-dia (click)="onClickOrcamentoDia($event)" [orcamento]="dia"></app-orcamento-dia>
        }
    </div>
</div>

<div class="flex flex-row gap-12 w-full justify-end items-center pb-24 pr-4">
    <div class="flex flex-row justify-center items-center gap-4 font-bold text-xl">
        <img src="/assets/img/icons8-charity-96.png" class="size-12 object-contain" alt="">
        Arrecadado
    </div>
    <div class="flex flex-row justify-center items-center gap-4 font-bold text-xl">
        <img src="/assets/img/guia-financeiro.png" class="size-12 object-contain" alt="">
        Projetado
    </div>
</div>

<div class="my-8"></div>
