input,
select,
textarea {
  width: 100% !important;
  color: rgb(112, 112, 112) !important;
  font-size: 13px !important;
  height: 35px;
}

input[disabled],
select[disabled],
textarea[disabled] {
  background-color: #e9e9e9de !important;
}

.tela-container {
  margin-left: 3rem;
  margin-right: 3rem;
  margin-top: 5rem;
  border-radius: 5px;
  border: 1px solid rgb(221, 221, 221);
  box-shadow: 1px 1px 2px rgba(#5b6582, 0.1);
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.sidebar-container {
  display: flex;
  flex-direction: column;

  padding: 10px;
  gap: 0.6rem;
}

:host ::ng-deep {
  p-sidebar {
    .ng-trigger {
      button {
        .p-element {
          svg {
            display: none;
          }
        }
      }
    }
  }
}

.table-column-title > th {
  font-size: 14px;
  font-weight: 500 !important;
  color: #424242 !important;
}

.paginator-info-container {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 13px;
  font-weight: 400;
}

:host ::ng-deep {
  p-dropdown {
    width: 100% !important;
    max-height: 35px !important;
    .p-dropdown {
      width: 100% !important;
      max-height: 35px !important;
      background-color: #fafafa !important;

      align-items: center;

      span {
        font-size: 13px !important;
        color: rgb(112, 112, 112) !important;
        font-family: Inter;
      }

      .p-dropdown-trigger {
        background-color: #fafafa !important;

        .p-icon-wrapper {
          svg {
            color: rgb(39, 38, 38);
            width: 12px !important;
            height: 12px !important;
          }
        }
      }

      p-overlay {
        .p-component {
          .p-overlay-content {
            .p-dropdown-panel {
              .p-dropdown-items-wrapper {
                ul {
                  p-dropdownitem {
                    li {
                      padding: 0 !important;

                      padding-top: 5px !important;
                      padding-left: 1rem !important;

                      padding-bottom: 5px !important;
                      span {
                        color: rgb(112, 112, 112) !important;

                        font-size: 13px !important;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

:host ::ng-deep {
  .p-multiselect-custom-virtual-scroll {
    width: 100% !important;
    max-height: 34px !important;
  }
  p-multiselect {
    width: 100% !important;
    max-height: 34px !important;

    .p-multiselect {
      max-height: 34px !important;
      .p-multiselect-label-container {
        background-color: #fafafa !important;
      }

      .p-element {
        max-height: 34px !important;

        .p-multiselect-label {
          color: rgb(112, 112, 112) !important;
          padding-top: 0.5rem !important;

          padding-bottom: 0.7rem !important;
          padding-left: 0.8rem !important;

          font-size: 13px !important;
          max-height: 34px !important;
        }
      }
      width: 100% !important;

      .p-multiselect-trigger {
        background-color: #fafafa !important;

        .p-icon-wrapper {
          svg {
            color: rgb(39, 38, 38);
            width: 12px !important;
            height: 12px !important;
          }
        }
      }

      p-overlay {
        .p-component {
          .p-overlay-content {
            .p-multiselect-panel {
              .p-multiselect-header {
                display: none;
              }

              .p-multiselect-items-wrapper {
                ul {
                  p-multiselectitem {
                    li {
                      .p-checkbox {
                        .p-checkbox-box {
                          .p-element {
                            svg {
                              height: 9px !important;
                              width: 9px !important;
                            }
                          }
                          margin-top: 3px;
                          height: 17px !important;
                          width: 17px !important;
                        }
                      }

                      span {
                        color: rgb(112, 112, 112) !important;

                        font-size: 13px !important;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

:host ::ng-deep {
  p-table {
    .p-datatable {
      p-paginator {
        .p-paginator {
          p-dropdown {
            max-width: 85px !important;

            .p-paginator-rpp-options {
              span {
                max-width: 50px !important;
              }
            }
          }
        }
      }
    }
  }
}

.camp-row {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 1rem;

  justify-content: flex-start;
}

.first-div {
  display: flex;
  flex-direction: column;

  width: 100%;
  min-width: 450px;
  max-width: 600px;

  align-items: flex-start;
  justify-content: flex-start;
}

.second-div {
  display: flex;
  flex-direction: column;

  width: 100%;
  min-width: 360px;
  max-width: 500px;

  align-items: flex-start;
  justify-content: flex-start;
}

.third-div {
  display: flex;
  flex-direction: column;

  width: 100%;
  min-width: 160px;
  max-width: 200px;

  align-items: flex-start;
  justify-content: flex-start;
}

.fourth-div {
  display: flex;
  flex-direction: column;

  width: 100%;
  min-width: 185px;
  max-width: 325px;

  align-items: flex-start;
  justify-content: flex-start;
}

.fifth-div {
  display: flex;
  flex-direction: column;

  width: 100%;
  min-width: 360px;

  align-items: flex-start;
  justify-content: flex-start;
}

.first-div,
.second-div,
.third-div,
.fourth-div,
.fifth-div > h3 {
  font-size: 14px;
  font-weight: 500;
}

.filter-buttons-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 0.6rem;
  margin-bottom: 0.6rem;
  gap: 1rem;
}

.no-register {
  display: flex;
  align-items: center;
  justify-content: center;

  right: 50% !important;
  position: absolute !important;

  background-color: #ebe4867c;
  border-radius: 6px;
  border: solid 1px #c5bd49;

  padding-top: 0.6rem;
  padding-bottom: 0.3rem;
  padding-left: 0.8rem;
  padding-right: 0.8rem;

  width: 320px;
}

.no-register > h3 {
  font-size: 18px !important;
  font-weight: 500;
}

.filter-title-container {
  border-radius: 5px;
  align-items: center;
  justify-content: flex-start;
  background-color: #74c47a5e;
}

.filter-title-container > h3 {
  font-size: 15px;
  margin-top: 6px;
  margin-left: 1rem;
  font-weight: 500;
}

.table-buttons-container {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.icon-button-secondary {
  @apply flex justify-center items-center rounded-md;
  @apply border-brand border-2 transition-all hover:brightness-125 size-10 hover:bg-brand;

  > i {
    color: rgb(1, 125, 185) !important;
  }

  &:hover {
    color: white !important;

    > i {
      color: white !important;
    }
  }
}
