@tailwind base;
@tailwind components;
@tailwind utilities;

@import "primeicons/primeicons.css";
@import "styles/variables";
@import "styles/components/buttons";

@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import "../node_modules/@fortawesome/fontawesome-free/css/all.min.css";

@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";



@font-face {
  font-family: "Avenir-It";
  src: url("./assets/fonts/AvenirNextLTPro-It.otf") format("opentype");
}

@font-face {
  font-family: "Avenir-Regular";
  src: url("./assets/fonts/AvenirNextLTPro-Regular.otf") format("opentype");
}

@font-face {
  font-family: "Avenir-Bold";
  src: url("./assets/fonts/AvenirNextLTPro-Bold.otf") format("opentype");
}

:root {
  --yellow-dark: #C47F17;
  --normal-yellow: #DBAC2C;
  --yellow-light: #F1E9C9;
  --purple-dark: #4B2995;
  --normal-purple: #8047F8;
  --purple-light: #EBE5F9;
  --grey: #EDEDED,
  --base-title: #272221;
  --base-subtitle: #403937;
  --base-text: #574F4D;
  --base-label: #8D8686;
  --base-hover: #D7D5D5;
  --base-button: #E6E5E5;
  --base-input: #EDEDED;
  --base-card: #F3F2F2;
  --background: #FAFAFA;
  --white: #FFFFFF;
  --base-error: #f84747;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: "Inter";
}

input, textarea, button {
  font-family: "Inter";
  font-weight: 400;
  font-size: 1rem;
}

body {
  background-color: #f7fafc !important;
  color: var(--base-text);
  -webkit-font-smoothing: antialiased;
}